.CircleContainer {
        height: 500px;
        width: 600px;
        background: #fff;
        border-radius: 20px;
        display: inline-block; 
        margin: 8rem auto 1rem;

        .ContentContainer {
            display: flex;
            flex-direction: column; 
            justify-content: center;
            width: 250px; 
            height: 400px; 
            margin: auto; 
            padding-top: 70px; 

            

            label {
                display: flex; 
                flex-direction: row; 
                justify-content: flex-end;
                align-items: center;
                width: 100%;  
                text-align: right; 
                line-height: 20px; 
                margin: 10px auto;
                color: #0ebf9a; 

                .passwordDiv{
                  display: flex; 
                  flex-direction: row; 
                
                }

                input {
                    border-radius: 3px;
                    height: 30px; 
                    flex: 0 0 200px; 
                    color: #0ebf9a;
                    border-bottom: 1px solid #0ebf9a;
                    
                }
              &:first-child{
                margin-left: -20px; 
              }
              &:last-child {
                margin-bottom: 20px;
              }
            }
            .submitButton{
                margin-left: 90px; 
            }

            button {
                border: none;
                padding: 0;
                margin: 20px 0 0 -10px; 
                background: none;
                text-transform: uppercase;
            }
          .switch-btn {
            outline: none;
          }

        }

}