$red: #ff6868;
$gray7: #f2f3f5;


.walletContainer{
    max-width: 80%;
    width: 80%;
    height: 75vh;
    margin: 8rem auto;
    background-color: white;
    border-radius: 2rem;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    color: #0ebf9a;

    .walletMain{
        width: 100%; 
        margin:auto; 
        text-align: center; 

        .userGreeting{
            font-size: 30px; 
            margin-bottom: 10px;
            font-weight: bold;
        }

        .mainInfo{
            display: flex; 
            flex-direction:column; 
            font-size: 20px; 
            padding: 2rem 2rem; 
            
            // input {
            //     max-width: 150px;
            //     padding: 15px;
            //     margin: 0.5rem auto;
            //     border-bottom: 1px solid #0ebf9a;
            //     color: rgb(255, 192, 236);
            // }

            .redirectButtonHold{
                display: flex; 
                flex-direction:row; 
                justify-content: space-between;
                width: 400px;
                margin:auto;  
                padding-top: 2rem; 

                .redirect{
                    padding: 1rem 1rem;
                    background-color: $red; 
                    margin: auto;
                    border-radius: 20px; 
                    color: $gray7; 
                }

            }
            
        }

        


    }
}