@import 'index.scss';

::-webkit-scrollbar {
  width: 0;
}
.Home {
  margin-top: 4.7rem;
  overflow-y: scroll;

  //@include mobile {
  //  flex-direction: column;
  //  max-height: initial;
  //}

  //.sidebar {
  //  display: flex;
  //  flex-direction: column;
  //  background-color: $gray2;
  //  align-items: flex-start;
  //
  //  .logo {
  //    width: 130px;
  //    padding: 50px 0px 10px 40px;
  //  }
  //
  //  @include mobile {
  //    display: none;
  //  }
  //}

  .main {
    padding: 40px;
    max-width: 80%;
    background-color: $gray1;
    //position: relative;
    margin: 0 auto;
    //@include mobile {
    //  padding: 15px;
    //}
  }
}